# Pycharm
.idea/

# Compile result
__pycache__/
*.pyc

# Virtualenv
env/
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Private files
downloads/
settings.py
*.pkl.gz
