appdirs==1.4.0
autopep8==1.4.3
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.9
futures==3.1.1
idna==2.6
lxml==4.2.5
packaging==16.8
pycodestyle==2.4.0
pyparsing==2.1.10
requests==2.18.4
six==1.10.0
urllib3==1.22
